@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #000;
}
section {
  padding: 5rem 9%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  color: #10221b;
  border: 0.2rem solid #10221b;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.btn:hover {
  background: #000;
  color: #fff;
}
.heading{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #000;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}
.header .logo i {
  color: #219150;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
  font-weight: 400;
}
.header .navbar a:hover {
  color: #219150;
  transition: 0.5s;
}
.header .navbar #nav-close {
  font-size: 4rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .icons a:hover,
.header .icons div :hover {
  color: #219150;
}
.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
.search-form.active {
  transform: translateY(0%);
}
.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: #fff;
}

.search-form #close-search :hover {
  color: #219150;
}
.search-form form {
  width: 70rem;
  margin: 0.2rem;
  padding-bottom: 2rem;
  border-radius: 0.2rem solid #fff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.search-form form input ::placeholder {
  color: #aaa;
}
.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.search-form form label :hover {
  color: #219150;
}
.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box .content {
  width: 50rem;
}
.home .box .content span {
  font-size: 4rem;
  color: #000;
}
.home .box .content h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: 2rem;
  text-transform: uppercase;
}
.home .box .content p {
  line-height: 2;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.home .box.second {
  justify-content: flex-start;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #000;
}

.category .box-container{
display: -ms-grid;
display: grid;
-ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
gap: 1.5rem;
}
.category .box-container .box{
  text-align: center;
  padding: 1rem;
}
.category .box-container .box img{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}












/* media query  */
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box{
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second{
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content{
    text-align: center;
  }
  .home .box .content span{
    font-size: 3rem;
  }
  .home .box .content h3{
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
    transition: 0.7s;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
.swiper-button-prev::after {
 display: none;
}
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
